/*[----------------Google Fonts---------------]*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

/*[-----------Style General HTML------------]*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background: url("../images/background1.jpg") no-repeat center center fixed ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}
/*[--------First Page Beginning ( Intro Section)-------------]*/

/*[----------Style Main Div Container--------]*/

.container {
    width:940px;
    background-color: rgba(0, 46, 0, 0.6);
    box-shadow: 0 0 50px 0;
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 15px;
    display:flex;
    
}

/*[----------Style Left and Right Side--------]*/
.left-side{
    width:50%;
}
.right-side{
    width:50%;
    text-align: center;

}
.right-side ul, h3 {
    margin: 20px auto 20px;
}
.right-side li{
    list-style-type: none;
}
.right-side a{
    background-color: rgba(0, 46, 0, 0.6);
    border-radius: 100px;
    color: black;
    width: 100%;
    display:inline-block;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    text-decoration: none;
    outline: none;
}
/*[--------First Page End( Intro Section)-------------]*/


/*[--------Second Page Beginning ( Questions Section)-------------]*/

.container2 {
    width:940px;
    background-color: rgba(0, 46, 0, 0.6);
    box-shadow: 0 0 50px 0;
    min-height: 350px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 20px 30px;
}
.header {
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
}

.score-box, 
.timer-box {
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid;

}

.question-box {
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid;
    background-color: rgba(0, 46, 0, 0.6);
}

.options-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 30px;
}
.options-box span{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid;

}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer button {
    background-color: rgba(0, 46, 0, 0.6);
    border-radius: 5px;
    
    width: 20%;
    display:inline-block;
    text-align: center;
    padding: 10px 0;
    
    text-decoration: none;
    outline: none;
}
}