/*[----------------Google Fonts---------------]*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

/*[-----------Style General HTML------------]*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;

    background: url("../images/background1.jpg") no-repeat center center fixed ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

}

/*[----------Style Main Div Container--------]*/

.container {
    width:940px;
    background-color: rgba(0, 46, 0, 0.6);
    box-shadow: 0 0 50px 0;
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 15px;
}