/*[----------------Google Fonts---------------]*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

/*[-----------Style General HTML------------]*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background: url("../images/background1.jpg") no-repeat center center fixed ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

}

/*[----------Style Main Div Container--------]*/

.container {
    width:940px;
    background-color: rgba(0, 46, 0, 0.6);
    box-shadow: 0 0 50px 0;
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 15px;
    display:flex;
    font-family: Montserrat, sans-serif;
}

/*[----------Style Left and Right Side--------]*/
.left-side{
    width:50%;
}
.right-side{
    width:50%;
    text-align: center;

}
.right-side ul, h3 {
    margin: 20px auto 20px;
}
.right-side li{
    list-style-type: none;
}
.right-side a{
    background-color: rgba(0, 46, 0, 0.6);
    border-radius: 100px;
    color: black;
    width: 100%;
    display:inline-block;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    text-decoration: none;
    outline: none;
}
